body{
    background-color:rgb(226, 240, 213);
}
h3{
    font-family: Arial;
    text-align: justify;
}
img{
    width: 250px;
    height: 500px;
}
#img1{
    width:500px;
    height:500px;
    border-radius:81px;
}
#botoncito{
    color: rosybrown;
    background: brown;
    font-family: Arial;
    font-size: larger;
    width: 309px;
    border-color: rgb(63, 26, 9);
    border-radius: 317px;
    cursor: all-scroll;
    background-color: rgb(56, 75, 4);
}

nav{
    background-color:rgb(54, 49, 6);
    color:beige;
    text-align:center;
    padding: 10px 0;/**/
}
li{
    list-style:none;
}
nav ul li{
    display:inline;
    font-size:30px;
}
nav ul li a:hover {
    background-color:blanchedalmond;
    color:cadetblue
}
/*Estilos para el menú principal */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative; /* Necesario para el submenú*/

}

nav ul li a {
    color:rgb(206, 201, 209);
    text-decoration: none;
    padding: 10px 10px;
    font-size: 20px;
    display: block;
    background-color:rgb(98, 103, 116);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color:rgb(176, 198, 240);
}

/* Submenú - inicialización oculta */
nav ul li.opcion-submenu .submenu {
    display: none; /* Submenú oculto por defecto*/
    position: absolute; /* Posicionar el submenú justo de*/
    background-color:darkgreen; /* Fondo oscuro */
    border-radius: 5px;
}
/*Mostrar el submenú al pasar el cursor sobre el elemento*/
nav ul li.opcion-submenu:hover .submenu {
    display: block; /*Mostrar el submenú cuando se pasa el elemento */
}
/*Estilos del submenú */
nav ul li .submenu li {
    margin:0;
}

nav ul li .submenu li a {
    font-size: 15px;
    color:rgb(163, 223, 243);
    display: block;    
}

nav ul li .submenu li a.hover {
    background-color:rgb(182, 248, 250);
}
section {
    padding: 20px;
    text-align: center;
}    
.imagenes {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.imagenes img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.imagenes img:hover {
    transform: scale(1.5);
}
video {
    width: 25%;
    height: 25vh;
    object-fit: cover;
}
.video-container {
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}
table{
    width: 40%;
    margin: 0 auto; /*Esto centra la tabla*/
    border-collapse: collapse;
    background-color: rgb(226, 240, 213);
}
th, td{
    padding: 15px;
    text-align: center;
    border: 5px solid #231111;
}
td img{ 
    width: 250px;
    height: 250px;
    border-radius: 8px;
}
tr:hover{
    background-color: #ddd;
    transform: scale(1.04);
}